@media screen and (max-width:1200px) {

.main-request form button {
	float:right;
}

.main-quote {
	background: none;
}

}

@media screen and (max-width:992px) {

.phone-call span {
	font-size: 1.1em;
}

.header-main h1 span {
	font-size: 2.5em;
	line-height: 60px;
}

.main-offer {
	min-height: 620px;
}

.main-offer h2 {
	margin-top: 5%;
}

.main-offer h2,
.main-offer h4,
.main-offer ul {
	margin-left: 34px;
	width: 80%;
}

.main-stats .stats-item {
	font-size: 1em;
	line-height: 1.4em;
}

.main-features .features-item {
	width: 33%;
}

.main-advantages .photo-people .first-photo {
	margin-left: -49px;
}

.main-advantages .photo-people .second-photo {
	margin-top: 0;
	margin-left: -9px;
}

.main-advantages .photo-marketing .third-photo {
	margin-top: 0px;
	margin-left: 0;
}

.main-advantages .advantages-video h6 {
	margin-top: 10%;
}

.main-advantages .advantages-site h6 {
	margin-top: 25%;
}

.main-request form button {
	float:right;
}

}

@media screen and (max-width:767px) {

.main-offer h2 {
	margin-top: 10%;
}

.main-offer h2,
.main-offer h4,
.main-offer ul {
	margin-left: 10%;
}

.main-features .features-item {
	width: 50%;
}

.main-work .work-item {
	width: 50%;	
}

.main-advantages p,
.main-advantages h6 {
	margin: 20px auto;
}

.main-advantages .advatages-design .picture,
.main-advantages .advantages-people .picture,
.main-advantages .advantages-marketing .picture {
	width: 360px;
	margin: 0 auto;
}

.main-advantages .advantages-site h6 {
	margin-top: 5%;
}

.main-advantages .advatages-internet {
	margin-top: 0px;
}

.main-advantages .internet-poster,
.automation-phone {
	width: 280px;
	margin: 0 auto;
}

.main-mistakes .mistake-item {
	width: 50%;
}

footer .copyright,
footer .main-site,
footer .made-by {
	text-align: center;
	margin: 10px;
}

}

@media screen and (max-width:420px) {

.main-features .features-item,
.main-work .work-item,
.main-mistakes .mistake-item {
	width: 100%;
}

}