body {
	margin: 0;
	font-family: 'pt_sansregular', sans-serif;
	box-sizing: border-box;
}

.container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

/* ------- HEADER ------- */

header {
	background-color: #dcdcdc;
	color: #777777;
	min-height: 310px;
}

header .header-top {
	position: relative;
	min-height: 230px;
}

.header-left {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 50%;
}

.header-logo {
	width: 100px;
	height: 100px;
	background-color: #777777;
	float: left;
	margin-right: 12px;
	margin-top: 5px;
}

.header-name {
	margin-top: 13px;
	margin-bottom: 15px;
	line-height: 0.8em;
	font-family: 'pt_sansbold', sans-serif;
	font-size: 32px;
	font-weight: normal;
	letter-spacing: 0.025em;
}

.header-name a {
	color: #777777;
	text-decoration: none;
}

.header-moto {
	font-size: 16px;
	line-height: 16px;
	margin-top: 12px;
}

.header-right {
	position: absolute;
	top: 42%;
	right: 0;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 50%;
	text-align: right;
}

.header-phone {
	letter-spacing: 0.025em;
	line-height: 46px;
	font-family: 'open_sanscondensed_light', sans-serif;
	font-size: 40px;
}

.header-right a {
	font-size: 24px;
	letter-spacing: 0.025em;
	color: #777777;
	font-family: 'pt_sansbold', sans-serif;
	text-decoration: underline;
	-webkit-text-decoration-style: dashed;
	        text-decoration-style: dashed;
	-webkit-text-decoration-color: #000;
	        text-decoration-color: #000;
}

.header-right a:hover {
	text-decoration: none;
}

.header-bottom {
	width: 100%;
	height: 80px;
	background-color: #777;
}

.header-menu {
	height: 80px;
	width: 980px;
	margin-top: 0;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	color: #fff;
	font-size: 30px;
	line-height: 73px;
}

.header-menu li {
	display: inline;
	margin: 0 15px;
}

.header-menu li:first-child {
	margin-left: 15px;
}

.header-menu li:last-child {
	margin-right: 60px;
}

.header-menu li a {
	color: #fff;
	font-size: 30px;
	line-height: 73px;
	letter-spacing: 0.025em;
	text-decoration: none;
}

.header-menu li a:hover {
	text-decoration: underline;
}

.header-menu-trigger {
	display: none;
	height: 80px;
	width: 160px;
	margin-left: 100px;
	color: #fff;
	position: relative;
	cursor: pointer;
}

.header-menu-trigger img {
	width: 30%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	-webkit-transition-duration: 0.5s;
	        transition-duration: 0.5s;
}

.header-menu-trigger.open img {
	-webkit-transform: rotate(90deg) translateX(-25px);
	        transform: rotate(90deg) translateX(-25px);
}

.header-menu-trigger p {
	left: 60px;
	font-size: 30px;
	line-height: 80px;
	margin-top: 0;
	position: absolute;
}

.header-menu-collapsed {
	display: none;
	position: absolute;
	z-index: 5;
	list-style-type: none;
	margin-top: 0;
	margin-left: 70px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	background-color: #777;
}

.header-menu-collapsed li {
	margin: 15px;
}

.header-menu-collapsed li a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}

.header-menu-collapsed li a:hover {
	text-decoration: underline;
}

/* ------- MODAL BOX ------- */

#modal-box-overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background-color: #000;
	opacity: 0.5;
	z-index: 10;
}

#modal-box {
	display: none;
	position: absolute;
	max-width: 466px;
	width: 50%;
	height: auto;
	padding-bottom: 35px;
	left: 51%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	background-color: #fff;
	z-index: 20;
	text-align: center;
	color: #535353;
	font-size: 14px;
}

#modal-box h2 {
	font-family: 'pt_sansbold';
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 28px;
	margin-bottom: 24px;;
}

#modal-box .form-group {
	min-height: 80px;
}

#modal-box label {
	display: block;
	margin-bottom: 5px;
}

#modal-box input {
	width: 73%;
	height: 35px;
	border: 1px solid #c3c3c3;
}

#modal-box textarea {
	border: 1px solid #c3c3c3;
	width: 73%;
}

#modal-box button {
	height: 42px;
	width: 125px;
	margin-top: 23px;
	border: none;
	background-color: #777;
	font-family: 'pt_sansbold';
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
}

#modal-box-close {
	content: "";
	position: absolute;
	background-image: url(../images/close-icon.png);
	width: 27px;
	height: 27px;
	right: -27px;
	top: -27px;
	cursor: pointer;
}

/* ------- MAIN ------- */

.jquery-carousel {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 400px;
	background-color: #f8f8f8;
}

.jquery-carousel ul {
	position: relative;
	height: 400px;
	list-style: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.jquery-carousel ul li {
	position: absolute;
	float: left;
	width: 100%;
	height: 380px;
	padding-top: 25px;
}

.carousel-btn {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-72%);
	        transform: translateY(-72%);
	width: 34px;
	height: 61px;
}

.btnBackward {
	left: 13.7%;
	background-image: url(../images/backward-icon.png);
}

.btnForward {
	right: 15.5%;
	background-image: url(../images/forward-icon.png);
}

.first-slide {
	background-image: url(../images/carousel-pic1.png);
	background-position: 55px -60px;
}

.second-slide {
	background-image: url(../images/carousel-pic2.png);
	background-position: 55px -60px;
}

.breadcrumb {
	height: 30px;
	color: #777;
	margin-top: 5px;
	margin-bottom: 0;
	padding: 0;
	letter-spacing: 0.035em;
	word-spacing: 0.1em;
	font-size: 14px;
}

.breadcrumb li {
	display: inline;
}

.breadcrumb li:last-child {
	padding-left: 7px;
}

.breadcrumb li a {
	color: #777;
}

/* ------- ASIDE ------- */

aside {
	width: 18.8%;
	float: left;
	min-width: 180px;
}

.sidebar-menu {
	padding-left: 0;
	margin-top: 5px;
	line-height: 31px;
	list-style-type: none;
	font-size: 18px;
}

.sidebar-menu a {
	color: #777;
	text-decoration: none;
}

.sidebar-menu .active > a {
	text-decoration: underline;
}

.sidebar-submenu {
	display: block;
	color: #777;
	font-size: 14px;
	list-style-type: disc;
	line-height: 21px;
	padding-left: 24px;
}

.sidebar-submenu .active,
.sidebar-submenu .active a {
	color: #000;
}

.price-list {
	margin-top: 103px;
}

.price-list img {
	margin-left: 24%;
}

.price-list p {
	margin-top: -8px;
	text-align: center;
}

.price-list p a {
	font-family: 'pt_sansbold', sans-serif;
	font-size: 30px;
	letter-spacing: 0.025em;
	color: #444;
	text-decoration: none;
}

/* ------- SECTION ------- */

section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 81.2%;
	padding-top: 15px;
}

.item {
	background-color: #dcdcdc;
	height: 380px;
	width: 250px;
	margin-bottom: 20px;
	margin-left: 15px;
	position: relative;
}

.item img {
	width: 85%;
	height: auto;
	margin: 20px;
}

.item p {
	margin: -8px 20px 0;
	color: #777;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 0.025em;
}

.item .price {
	bottom: 20px;
	position: absolute;
	font-family: 'pt_sansbold', sans-serif;
	font-size: 28px;
	color: #444444;
}

.item:after {
	content: "";
	background-image: url(../images/addtobasket-icon.png);
	width: 28px;
	height: 21px;
	display: block;
	right: 14%;
	bottom: 5%;
	position: absolute;
}

.pagination {
	width: 100%;
	text-align: center;
	margin-top: 7px;
	padding-left: 30px;
}

.pagination li {
	display: inline-block;
	margin-right: 16px;
}

.pagination li a {
	color: #777;
	font-size: 14px;
	text-decoration: none;
}

.pagination li.active-page a {
	font-size: 18px;
	color: #444;
}

.about {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 45px;
	margin-left: 15px;
	padding-top: 12px;
	border-top: 1px solid #777;
	min-height: 430px;
}

.about p {
	width: 47.5%;
	line-height: 22px;
	font-size: 14px;
	color: #777;
}

/* ------- FOOTER ------- */

footer {
	background-color: #777;
	min-height: 220px;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.025em;
	line-height: 20px;
}

footer .container {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-top: 48px;
}

footer a {
	color: #fff;
}

footer .footer-menu {
	margin-top: 0;
	margin-left: -180px;
	padding-left: 0;
	list-style-type: none;
	line-height: 25px;
}

footer .devs {
	margin-right: 10px;
	position: relative;
}

footer .devs:before {
	content: "";
	background-image: url(../images/devs-icon.png);
	left: -45px;
	top: 3px;
	width: 38px;
	height: 38px;
	display: block;
	position: absolute;
}

/*========== RESPONSIVE ==========*/

@media screen and (max-width: 1199px) {
	
	.container {
		width: 90%;
	}

	.header-bottom {
		width: 100%;
	}

	.header-menu {
		width: 90%;
	}

	.item {
		width: 29%;
		height: auto;
		min-height: 360px;
		min-width: 200px
	}

	.item img {
		margin-left: 7.5%;
		margin-right: 7.5%;
	}
}

@media screen and (max-width: 1079px) {
	
	.header-menu {
		display: none;
	}

	.header-menu-trigger {
		display: block;
	}

	section {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

@media screen and (max-width: 767px) {

	#modal-box {
		width:80%;
	}

	footer .footer-menu {
		margin-left: 0;
	}
}

@media screen and (max-width: 678px) {
	
	.header-left {
		width: 60%;
	}

	.header-right {
		width: 40%;
	}

	.header-phone {
		font-size: 25px;
		line-height: 32px;
	}

	.header-right a {
		font-size: 20px;
		line-height: 22px;
	}
	
	.first-slide {
		background-position: -150px -60px;
	}

	.second-slide {
		background-position: -150px -60px;
	}

	aside {
		width: 100%;
		float: none;
		text-align: center;
	}

	aside .sidebar-submenu {
		list-style-position: inside;
	}

	aside .sidebar-submenu li a { 
		position: relative; 
		left: -15px; 
	}
	
	aside .sidebar-submenu, x:-moz-any-link {
		margin-left: -25px;
	}

	aside .sidebar-submenu li a, x:-moz-any-link {
		left: 0; 
	}

	section {
		width: 100%;
		max-width: 100%;
	}

	.price-list {
		display: none;
	}

	footer .container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-ms-align-items: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding-bottom: 50px;
	}

	footer .copyright,
	footer .footer-menu {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 522px) {
	
	header {
		height: 400px;
	}

	.header-top {
		height: 320px;
	}

	.header-left {
		top:50px;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
		width: 100%;
	}

	.header-right {
		text-align: left;
		top: 70%;
		width: 100%;
	}

	.about {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-ms-align-items: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-bottom: 30px;
	}

	.about p {
		width: 90%;
	}
}