body {
    background: #00a2ff;
    color: #fff;
    font-family: sans-serif;
}

.search-form,
.results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 600px;
    min-width: 400px;
    position: absolute;
    left: 50%;
}

.search-form {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.results {
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.search-form input {
    width: 64%;
}

.search-form label {
    width: 20%;
}

.search-form button {
    margin-left: 20%;
}

input {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.results {
    display: none;
}

.results.displayed {
    display: block;
}

h1 {
    font-size: 1em;
    margin-bottom: 30px;
}

td {
    height: 20px;
}

td:nth-child(1) {
    min-width: 250px;
}

h2 {
    font-size: 1em;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 10px;
    background-color: #fff;
    color: rgb(70, 70, 70);
}

ul {
    color: rgb(70, 70, 70);
    background-color: #fff;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    margin-bottom: 20px;
}

span {
    color: #00a2ff;
}

#notification {
    border-radius: 5px;
    position: absolute;
    color: #444;
    bottom: -50%;
    padding: 5px 10px;
}

.error {
    background-color: rgb(226, 181, 166);
    border: 1px solid tomato;
}